.location-bar {
    color: #fff;

}

.title-location {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: center;

}

.data-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    padding: 10px 100px;
    margin-bottom: 50px;
    background-color: rgb(51, 54, 84);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  }

.data-location:hover {
    background: #23074d;
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);
    background: linear-gradient(to right, #cc5333, #23074d);
}

  .data-location li {
    padding: 20px 50px;
  }

  @media screen and (max-width: 570px) {
    h2 {
      text-align: center;
    }
    .data-location {
      width: 250px;
      display: flex;
      flex-direction: column;
      padding: 10px 35px;
      text-align: center;
    }
  }